/* global */
body {
  position: relative;
}

a#github-link {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 149px;
  height: 149px;
  background-image: url('../img/github.png');
  background-repeat: no-repeat;
}

/* #home */
.leading-me {
  height: 250px;
  width: 180px;
  background-image: url('../img/joe-sprite-01.png');
  background-repeat: no-repeat;
  background-position: 4px 4px;
  padding: 4px 8px;
  margin: auto;
  margin-bottom: 25px;
}
.leading-me:hover {
  background-position: 4px -252px;
}
.testimonials {
  min-height: 128px;
  position: relative;
}
#another-testi {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

/* #background */
#background .span6 img {
  width: 330px;
}

/* bootstrap overrides */
body {
  background-color: #fafafa;
}

/* overrides to help tighten up the interests page and freakin work with adjusting viewports */
.thumbnails {
  margin-left: -20px !important;
}
.thumbnails > li.span3 {
  margin-left: 20px;
}
@media (min-width: 1200px) {
  .thumbnails > li.span3 {
    width: 220px;
  }
}
@media (max-width: 767px) {
  .thumbnails > li.span3 {
    float: none;
    margin-left: 10px;
  }
}
/* make the interests page a little more minimal with these overrides */
.thumbnail {
  border: none;
  padding: 4px 0px;
}
.thumbnail .caption {
  padding: 9px 0;
}
/* interests page/thumbnails fix so there isn't that horizontal scrollbar */
.tab-content {
  overflow: visible;
}

/* overrides for #contact to tighten up that form */
.form-horizontal .control-group {
  margin-bottom: 5px;
}
/* double the sizes of them inputs */
#contact input.doubled {
  height: 40px;
  padding: 8px 6px; /* not really doubled */
  font-size: 28px;
  line-height: 40px;
}

/* overrides to change .btn-primary background-color */
.btn-primary {
  background-color: #3498DB
}
.btn-primary:hover {
  background-color: #2980B9;
}

/* special style to hide fork banner */
@media only screen
and (max-width : 979px) {
  a#github-link {
    display: none;
  }
}


/* came with styles */
body {
  padding-top: 20px;
  padding-bottom: 40px;
}

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  margin: 60px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 50px;
  line-height: 1;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 60px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}
